<div class="categorias">
  <div class="categorias__container">
    <div class="categorias__header">
      <h1>Gestión de Categorías</h1>
      <button class="boton boton--funcion-alternativa boton--importancia-primaria" routerLink="/admin/categories/add">
        Agregar Categoría
      </button>
    </div>

    <div class="categorias__table">
      <table class="categorias__table-wrapper">
        <thead class="categorias__table-head">
          <tr class="categorias__row">
            <th class="categorias__table-header categorias__table-header--id">ID</th>
            <th class="categorias__table-header categorias__table-header--name">Nombre</th>
            <th class="categorias__table-header--actions">Acciones</th>
          </tr>
        </thead>
        <tbody class="categorias__table-body">
          @for (category of categories; track $index) {
          <tr class="categorias__row">
            <td class="categorias__cell">{{ category.id }}</td>
            <td class="categorias__name" routerLink="/admin/categories/edit/{{ category.id }}">{{ category.name }}</td>
            <td class="categorias__actions">
              <button class="boton boton--icon-only" (click)="remove(category.id!)"><img src="/img/trash.png"
                  alt="Eliminar"></button>
            </td>
          </tr>
          }
          @empty {
          <tr class="categorias__row">
            <td colspan="4" class="categorias__empty">
              No hay categorías disponibles
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>